<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Preguntas </title>
    <div th:replace="~{menu.html}"></div>


    <div class="contenedor-principal" id="contenedor-move">
        <a class="boton-volver" th:href="@{'/unidades/' + ${tema.unidad.id} + '/temas'}">VOLVER</a>
        <div class="contenedor-play-subproyecto">
            <div class="proyecto-play">
                <div class="contenedor-proyecto">
                    <div class="nombre">
                        <a th:text="'LISTADO DE PREGUNTAS SOBRE: ' + ${tema.nombre}"></a>
                    </div>
                </div>
            </div>
        </div>

        <tr th:each="pregunta : ${preguntas}">
            <div class="contenedor-play-subproyecto">
                <div class="proyecto-play">
                    <div class="contenedor-proyecto">
                        <div class="nombre">
                            <a th:text="${pregunta.enunciado}"></a>
                        </div>
                        <div class="logos-proyecto">
                            <a th:href="@{'/unidades/' + ${tema.unidad.id} + '/temas/' + ${tema.id} + '/preguntas/' + ${pregunta.id} + '/respuestas'}"><img
                                    class="icon-proyecto"
                                    th:src="@{/img/respuesta.png}"></a>
                            <a th:href="@{'/unidades/' + ${tema.unidad.id} + '/temas/' + ${tema.id} + '/preguntas/' + ${pregunta.id} + '/editar_pregunta'}"><img
                                    class="icon-proyecto"
                                    th:src="@{/img/editar.png}"></a>
                            <a th:href="@{'/unidades/' + ${tema.unidad.id} + '/temas/' + ${tema.id} + '/preguntas/' + ${pregunta.id} + '/eliminar_pregunta'}"><img
                                    class="icon-proyecto"
                                    th:src="@{/img/delete.png}"
                                    onclick="return confirmarOcultar();"></a>

                        </div>
                    </div>
                </div>

            </div>
        </tr>

        <a class="boton-subproyecto"
           th:href="@{'/unidades/' + ${tema.unidad.id} + '/temas/' + ${tema.id} + '/preguntas/crear_pregunta'}">CREAR
            PREGUNTA</a>

    </div>
    </div>
    <script th:src="@{/js/script.js}"></script>
    </body>

</html>